<head>
    <meta charset="utf-8">
    <meta name="author" content="Ching-Yu Chang">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="魏澤人,Tzer-Jen Wei,交大,AI學院,智慧科學暨綠能學院,台南校區">
    <title>DeepTrickLAB</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/cover.css' | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&amp;family=Noto+Sans+TC:wght@100&amp;family=Titillium+Web:ital,wght@1,700&amp;display=swap">
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
  </head>
  <body>
  <div class="container-fluid p-0 height-full">
    <div class="row g-0">
      <div class="col-xs-12 col-sm-7">
        <div id="particles-js" class="cover-col d-flex align-items-start flex-column">
  <!--         <div class="my-auto m-5"></div> -->
          <div class="pt-5 my-sm-auto">
            <div data-text="DeepTrickLAB" class="glitch cover-title">DeepTrickLAB</div>
          </div>
          <div class="my-auto news-component mb-5" style="width:100%">
            <div class="news-title">NEWS</div>
            <div class="news-context">
              {% assign post = site.posts.first %}
              <a href="{{ post.url }}" class="news-title-color"><p class="mb-0 newest-news-title">{{ post.date | date: "%Y/%m/%d" }} {{ post.title }}</p></a>
              <a href="{{ './news' | relative_url }}" class="news-title-color"><p class="text-right">more...</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 height-full">
        <div class="row g-0">
          <div class="col-sm-12">
            <div class="row g-0">
              <div class="col-sm-6">
                <div class="col-sm-12 height-1-3 bgi-parent">
                  <a href="{{ './advisor' | relative_url }}">
                    <div data-text="Advisor" 
                    class="advisor-col bgi-setup img-hover-zoom col-feature-text"></div>
                  </a>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-12 height-1-3 bgi-parent">
                  <a href="{{ './member/present' | relative_url }}"><div data-text="Member" class="member-col bgi-setup img-hover-zoom--colorize col-feature-text"></div></a>
                </div>
              </div>
              <div class="col-sm-6 height-2-3 bgi-parent">
                <a href="{{ './about' | relative_url }}"><div data-text="About" class="introduction-col bgi-setup img-hover-zoom--colorize col-feature-text"></div></a>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-xs-12 col-sm-12">
            <div class="row g-0">
              <div class="col-xs-6 col-sm-6 height-1-3 bgi-parent"><a href="{{ './research' | relative_url }}"><div data-text="Research" class="research-col bgi-setup img-hover-zoom--colorize col-feature-text"></div></a></div>
              <div class="col-xs-6 col-sm-6 height-1-3 bgi-parent">
                  <a href="https://ai.nctu.edu.tw/"><div data-text="NCTUAI" class="college-col bgi-setup img-hover-zoom--colorize col-feature-text"></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 6,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 125,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 2.5
      },
      "move": {
        "enable": true,
        "speed": 6,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": false,
          "mode": "grab"
        },
        "onclick": {
          "enable": false,
          "mode": "push"
        },
        "resize": false
      },
      "modes": {
        "grab": {
          "distance": 140,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
  </script>
  </body>
